@model Application.ViewModels.AllViewModel

@{
    ViewData["Title"] = "Products";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="card-body">
                <form method="post" asp-controller="Home" asp-action="Index">
                    <div class="input-group mb-3">
                        <input type="text" name="Busqueda" class="form-control" placeholder="escriba cual pokemon quiere buscar" />
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Buscar</button>

                    </div>

                </form>
                   <p>
            <button class="btn btn-primary btn-sucess" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRegion" aria-expanded="false" aria-controls="collapseRegion">
                Filtrar
            </button>
            <a class="btn btn-primary btn-danger" type="button" onclick="window.location.href='/home'">
                   X
            </a>
        </p>


        <div class="collapse" id="collapseRegion">
            <div class="">

                <h5>Regiones en el sistema:</h5>
                <div class="" id="radiosBtn">
                            @if (ViewBag.Region.Count == 0)
                            {
                            <h2>No Hay Regiones</h2>
                            }
                            else
                            {
                                @foreach (Application.ViewModels.RegionViewModel item in ViewBag.Region)
                                {
                                    
                                    <div class="col-md-3">
                                                <div class="card-body">
                                                    <a type="button" asp-controller="Home" asp-action="Index" asp-route-Id="@item.Id" class="w-50 btn btn-success ">@item.Name</a>
                                                </div>
                                        </div>
                                }
                            }
                </div>
            </div>
        </div>

      </div>
    </div>

    <br />

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @if (Model == null || Model.Poke.Count == 0)
            {
                <h2>No Hay Pokemons</h2>
            }
            else
            {
                @foreach (Application.ViewModels.ProPokeViewModel item in Model.Poke)
                {
                    if (ViewBag.Filtro == 0 && ViewBag.Busqueda == null)
                    {
                                  <div class="col-md-4">
                                  <div class="card shadow-sm">
                                    <img src="@item.ImageUrl" class="card-img-top" alt="@item.Name imagen" height="225">
                                    <div class="card-body">
                                      <p class="card-text"><h2>@item.Name</h2>
                                          <br/>
                                        @foreach (Application.ViewModels.TipoViewModel tipo in Model.Tipo)
                                        {
                                            if (tipo.Id == item.TipoId)
                                            {
                                                                <h6>El tipo es @tipo.Name</h6>
                                                break;
                                            }
                                        }
                                        @foreach (Application.ViewModels.TipoViewModel tipo in Model.Tipo)
                                        {
                                            if (tipo.Id == item.TipoIdSec)
                                            {
                                                                <h6>El tipo secuandario es @tipo.Name</h6>
                                                break;
                                            }
                                        }
                                        @foreach (Application.ViewModels.RegionViewModel region in Model.Region)
                                        {
                                            if (region.Id == item.RegionId)
                                            {
                                                                <h6>La region es @region.Name</h6>
                                                break;
                                            }
                                        }
                                      </p>
                                    </div>
                                  </div>
                                </div>
                    }
                    else
                    {
                        if (ViewBag.Filtro == item.RegionId || ViewBag.Busqueda == item.Name)
                        {
                                          <div class="col-md-4">
                                          <div class="card shadow-sm">
                                            <img src="@item.ImageUrl" class="card-img-top" alt="@item.Name imagen" height="225">
                                            <div class="card-body">
                                              <p class="card-text"><h2>@item.Name</h2>
                                                  <br/>
                                            @foreach (Application.ViewModels.TipoViewModel tipo in Model.Tipo)
                                            {
                                                if (tipo.Id == item.TipoId)
                                                {
                                                                        <h6> el Tipo es @tipo.Name</h6>
                                                    break;
                                                }
                                            }
                                            @foreach (Application.ViewModels.TipoViewModel tipo in Model.Tipo)
                                            {
                                                if (tipo.Id == item.TipoIdSec)
                                                {
                                                                        <h6> el Tipo Secundario es @tipo.Name</h6>
                                                    break;
                                                }
                                            }
                                            @foreach (Application.ViewModels.RegionViewModel region in Model.Region)
                                            {
                                                if (region.Id == item.RegionId)
                                                {
                                                                        <h6>la Region es @region.Name</h6>
                                                    break;
                                                }
                                            }
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                        }
                    }

                }
            }
      </div>
    </div>
    <script>
    const RadioBTN = (id) => {

    }
    </script>